<main class="main__container">
  <header class="header__container">
    <%= image_tag "logo.png", class: "header__logo", alt: "UNDO Logo" %>
  </header>
  <div class="login">
    <div class="login__container">
      <h1 class="login__title">ログイン</h1>
      <%= form_with(url: new_session_path, class: "form") do |form| %>
        <div class="form__field">
          <%= form.label :email, "メールアドレス", class: "form__label" %>
          <%= form.email_field :email, class: "form__input", required: true, placeholder: "example@undo.com" %>
        </div>
        <div class="form__field">
          <%= form.label :password, "パスワード", class: "form__label" %>
          <%= form.password_field :password, class: "form__input", required: true %>
        </div>
        <%= form.submit "ログイン", class: "form__submit-btn" %>
      <% end %>
      <div class="login__links">
        <%= link_to "パスワードをお忘れですか？", new_password_path, class: "login__link" %>
        <%# link_to "新規登録はこちら", new_user_path, class: "login__link" %>
      </div>
    </div>
  </div>
</main>
<!--
<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= form_with url: new_session_path do |form| %>
  <%= form.email_field :email, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email] %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.submit "Sign in" %>
<% end %>
<br>
<%= link_to "Forgot password?", new_password_path %>
-->
