<p style="color: green"><%= notice %></p>

<%= render @turbidity_to_bod %>

<div>
  <%= link_to "Edit this turbidity to bod", edit_turbidity_to_bod_path(@turbidity_to_bod) %> |
  <%= link_to "Back to turbidity to bods", turbidity_to_bods_path %>

  <%= button_to "Destroy this turbidity to bod", @turbidity_to_bod, method: :delete %>
</div>
