<%= form_with(model: user, class: "form") do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field">
    <%= form.label :name, "お名前", style: "display: block", class: "form__label" %>
    <%= form.text_field :name, class: "form__input", required: true, placeholder: "詫間太郎/詫間水産" %>
  </div>

  <div class="form__field">
    <%= form.label :email, "メールアドレス", style: "display: block", class: "form__label" %>
    <%= form.text_field :email, class: "form__input", required: true, placeholder: "undo@example.com" %>
  </div>

  <div class="form__field tooltip__container">
    <%= form.checkbox :is_consumer, class: "form__checkbox" %>
    <%= form.label :is_consumer, "消費者ですか？", style: "display: inline", class: "form__label" %>
    <div class="tooltip__text">「うどん屋」として登録する場合は<span class="careful">チェックしないでください</span></div>
  </div>

  <div class="form__field">
    <%= form.label :password, "パスワード", style: "display: block", class: "form__label" %>
    <%= form.password_field :password, class: "form__input", required: true, placeholder: "6文字以上" %>
  </div>

  <div class="form__field">
    <%= form.label :password_confirmation, "パスワード確認", style: "display: block", class: "form__label" %>
    <%= form.password_field :password_confirmation, class: "form__input", required: true, placeholder: "6文字以上" %>
  </div>

  <%= form.submit "サインイン", class: "form__submit-btn" %>

  <%# link_to "Back to users", users_path, class: "form__link" %>
<% end %>
