<%#
<div data-controller="hello"></div>
%>

<main class="main__container">
    <header class="header__container">
        <div class="header__title">UNDO</div>
    </header>
    <div class="maps__container" data-controller="maps"></div>
    <div class = "main_bar">
        <%# BOD %>
        <%= link_to turbidity_to_bods_path, class: "bar_button" do %>
            <%= image_tag("bar_icons/yeah.png", size: "60x60") %>
        <% end %>

        <%= link_to reviews_path, class: "bar_button" do %>
            <%= image_tag("bar_icons/yeah.png", size: "60x60") %>
        <% end %>

        <%= link_to users_path, class: "bar_button" do %>
            <%= image_tag("bar_icons/yeah.png", size: "60x60") %>
        <% end %>

        <button type="button" class="bar_button" onclick="logout();">
            <%= image_tag("bar_icons/yeah.png", size: "60x60", alt: "ログアウト") %>
        </button>

    </div>

</main>
<div id="logout-background">
  <div id="logout-box">
    <p id = "logout-surundana">ログアウトしますか？</p>
    <div class="logout-buttons">
      <button onclick="document.getElementById('logout-background').style.display='none';" class = logout-button>ログアウト</button>
      <button onclick="document.getElementById('logout-background').style.display='none';" class = logout-button>キャンセル</button>
    </div>
</div>

<script>
    function logout() {
        document.getElementById('logout-background').style.display = 'flex';
    }
</script>
